
requests
python-dotenv

# PDF + text
pypdf
nltk

# Embeddings + Vector Store
sentence-transformers
faiss-cpu

# ML / LLM
torch
transformers
accelerate
peft
sentencepiece
tokenizers

# RAG / API 
fastapi
uvicorn
pydantic
